In [58]:
from langchain.llms import GooglePalm
api_key='AIzaSyBMsodDM83vnKaN-EmUps1ekWKm1nAp3vA'
llm=GooglePalm(google_api_key=api_key,temperature=0.5)
poem=llm("write a letter")
print(poem)

Dear Mr./Ms. [Last Name],

I am writing to express my interest in the [position name] position that I saw advertised on [website]. I have been working in the [industry] industry for [number] years, and I have a proven track record of success in [list of accomplishments].

In my previous role at [company name], I was responsible for [list of responsibilities]. I successfully managed a team of [number] employees and achieved [list of results]. I am confident that I have the skills and experience that you are looking for in a [position name].

I am a highly motivated and results-oriented individual with a strong work ethic. I am also a team player and I am able to work effectively with others. I am confident that I would be a valuable asset to your team.

I am eager to learn more about the [position name] position and about [company name]. I am available for an interview at your convenience. Thank you for your time and consideration.

Sincerely,
[Your Name]

In [59]:
from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain

In [60]:
from langchain.utilities import SQLDatabase

db_user = "dp"
db_password = "1234"
db_host = "LAPTOP-2I2RORCB\\MSSQLSERVER01"
db_name = "mob"

# Construct the connection string
connection_string = (
    f"mssql+pyodbc://{db_user}:{db_password}@{db_host}/{db_name}"
    "?driver=ODBC+Driver+17+for+SQL+Server"
)

# Create the SQLDatabase instance
db = SQLDatabase.from_uri(connection_string, sample_rows_in_table_info=3)

# Print the table information
print(db.table_info)

CREATE TABLE mobile_discounts (
	discount_id INTEGER NOT NULL IDENTITY(1,1),
	mobile_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2) NULL,
	CONSTRAINT [PK__mobile_d__BDBE9EF967ABAAE6] PRIMARY KEY (discount_id),
	CONSTRAINT [FK__mobile_di__mobil__29572725] FOREIGN KEY(mobile_id) REFERENCES mobiles (mobile_id)
)

/*
3 rows from mobile_discounts table:
discount_id	mobile_id	pct_discount
1	1	10.00
2	2	15.00
3	3	20.00
*/


CREATE TABLE mobiles (
	mobile_id INTEGER NOT NULL IDENTITY(1,1),
	brand VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	model VARCHAR(255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	color VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	storage_capacity INTEGER NOT NULL,
	price DECIMAL(10, 2) NOT NULL,
	stock_quantity INTEGER NOT NULL,
	CONSTRAINT [PK__mobiles__D7B1D91F04306096] PRIMARY KEY (mobile_id)
)

/*
3 rows from mobiles table:
mobile_id	brand	model	color	storage_capacity	price	stock_quantity
1	OnePlus	Model 1	Gold	64	436.34	56
2	Apple	Model 4	White	109	747.67	71
3	Samsung	Model 1	Gold	142	491.34	87
*/

In [61]:
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)
qns1 = db_chain("How many Apple mobiles do we have left for model1 in white color?")

> Entering new SQLDatabaseChain chain...
How many Apple mobiles do we have left for model1 in white color?
SQLQuery:SELECT stock_quantity FROM mobiles WHERE brand = 'Apple' AND model = 'Model 4' AND color = 'White'
SQLResult: [(71,)]
Answer:71
> Finished chain.

In [62]:
qns2 = db_chain.run("How many Samsung phones do we have in stock of all models?")

> Entering new SQLDatabaseChain chain...
How many Samsung phones do we have in stock of all models?
SQLQuery:SELECT SUM(stock_quantity) FROM mobiles WHERE brand = 'Samsung'
SQLResult: [(1183,)]
Answer:1183
> Finished chain.

In [63]:
qns3 = db_chain.run("Do you have the Sony Xperia 1 II in stock?")

> Entering new SQLDatabaseChain chain...
Do you have the Sony Xperia 1 II in stock?
SQLQuery:SELECT [model] FROM [mobiles] WHERE [model] = 'Sony Xperia 1 II'
SQLResult:
Answer:No
> Finished chain.

In [64]:
qns4 = db_chain.run("Can you check if the Google model 1 is available in gold?")

> Entering new SQLDatabaseChain chain...
Can you check if the Google model 1 is available in gold?
SQLQuery:SELECT color FROM mobiles WHERE model = 'Model 1' AND brand = 'Google' AND color = 'Gold'
SQLResult: [('Gold',)]
Answer:Yes
> Finished chain.

In [65]:
qns5 = db_chain.run("Are there any eco-friendly or sustainable phone options?")

> Entering new SQLDatabaseChain chain...
Are there any eco-friendly or sustainable phone options?
SQLQuery:SELECT * FROM mobiles
SQLResult: [(1, 'OnePlus', 'Model 1', 'Gold', 64, Decimal('436.34'), 56), (2, 'Apple', 'Model 4', 'White', 109, Decimal('747.67'), 71), (3, 'Samsung', 'Model 1', 'Gold', 142, Decimal('491.34'), 87), (4, 'Apple', 'Model 3', 'White', 141, Decimal('980.11'), 99), (5, 'Google', 'Model 8', 'Black', 133, Decimal('954.31'), 34), (6, 'Apple', 'Model 5', 'Silver', 145, Decimal('345.29'), 20), (7, 'OnePlus', 'Model 8', 'Silver', 97, Decimal('391.08'), 18), (8, 'Google', 'Model 3', 'Silver', 191, Decimal('642.90'), 22), (9, 'Google', 'Model 2', 'Black', 192, Decimal('974.17'), 89), (10, 'Google', 'Model 1', 'White', 90, Decimal('796.94'), 50), (11, 'Samsung', 'Model 6', 'White', 134, Decimal('229.08'), 54), (12, 'Google', 'Model 2', 'White', 86, Decimal('581.42'), 37), (14, 'OnePlus', 'Model 6', 'Gold', 104, Decimal('449.99'), 34), (15, 'OnePlus', 'Model 1', 'Black', 18, Decimal('989.09'), 80), (16, 'Google', 'Model 1', 'Gold', 93, Decimal('188.43'), 18), (17, 'Samsung', 'Model 5', 'Black', 178, Decimal('277.86'), 73), (18, 'OnePlus', 'Model 7', 'Silver', 185, Decimal('324.45'), 79), (19, 'Google', 'Model 6', 'Black', 139, Decimal('923.58'), 37), (21, 'Samsung', 'Model 10', 'Black', 89, Decimal('746.67'), 30), (22, 'Google', 'Model 9', 'Black', 53, Decimal('527.51'), 90), (23, 'Samsung', 'Model 10', 'Gold', 56, Decimal('157.45'), 20), (24, 'OnePlus', 'Model 4', 'Gold', 174, Decimal('161.84'), 42), (25, 'OnePlus', 'Model 8', 'White', 149, Decimal('632.44'), 19), (26, 'Google', 'Model 10', 'Gold', 25, Decimal('941.73'), 98), (28, 'Apple', 'Model 3', 'Black', 73, Decimal('672.61'), 67), (29, 'Apple', 'Model 5', 'White', 34, Decimal('825.09'), 73), (30, 'Apple', 'Model 8', 'Black', 173, Decimal('209.43'), 43), (31, 'Google', 'Model 2', 'Silver', 118, Decimal('655.31'), 56), (32, 'Apple', 'Model 10', 'White', 207, Decimal('376.63'), 45), (33, 'OnePlus', 'Model 10', 'Gold', 38, Decimal('201.87'), 49), (34, 'Apple', 'Model 3', 'Silver', 58, Decimal('207.67'), 90), (35, 'Apple', 'Model 6', 'Silver', 87, Decimal('721.65'), 94), (36, 'OnePlus', 'Model 5', 'Silver', 53, Decimal('291.52'), 21), (37, 'Google', 'Model 3', 'Black', 173, Decimal('798.11'), 34), (38, 'Samsung', 'Model 7', 'Black', 189, Decimal('369.43'), 28), (39, 'Samsung', 'Model 4', 'White', 180, Decimal('470.76'), 19), (41, 'Apple', 'Model 9', 'Gold', 27, Decimal('896.07'), 78), (42, 'Samsung', 'Model 4', 'Silver', 29, Decimal('205.17'), 49), (44, 'OnePlus', 'Model 1', 'White', 28, Decimal('697.27'), 46), (45, 'OnePlus', 'Model 6', 'White', 191, Decimal('630.24'), 47), (47, 'Google', 'Model 5', 'Black', 185, Decimal('906.06'), 95), (48, 'Samsung', 'Model 2', 'Silver', 201, Decimal('959.81'), 42), (49, 'Apple', 'Model 2', 'White', 71, Decimal('606.34'), 94), (50, 'Apple', 'Model 4', 'Gold', 83, Decimal('543.52'), 81), (51, 'Apple', 'Model 5', 'Black', 53, Decimal('846.42'), 69), (55, 'OnePlus', 'Model 3', 'Silver', 33, Decimal('985.02'), 34), (57, 'OnePlus', 'Model 10', 'Black', 20, Decimal('609.46'), 73), (59, 'Samsung', 'Model 9', 'Black', 166, Decimal('415.27'), 86), (61, 'Apple', 'Model 8', 'Silver', 139, Decimal('293.70'), 64), (62, 'Samsung', 'Model 3', 'White', 199, Decimal('483.36'), 41), (64, 'OnePlus', 'Model 5', 'Black', 125, Decimal('872.56'), 17), (65, 'Samsung', 'Model 10', 'Silver', 82, Decimal('782.94'), 93), (66, 'Apple', 'Model 5', 'Gold', 163, Decimal('183.78'), 78), (67, 'Samsung', 'Model 2', 'Black', 82, Decimal('909.31'), 96), (69, 'OnePlus', 'Model 8', 'Gold', 82, Decimal('984.31'), 28), (71, 'OnePlus', 'Model 9', 'White', 87, Decimal('218.81'), 50), (73, 'OnePlus', 'Model 5', 'White', 199, Decimal('899.97'), 34), (74, 'Samsung', 'Model 8', 'Gold', 61, Decimal('692.29'), 75), (75, 'Google', 'Model 6', 'White', 188, Decimal('715.61'), 81), (77, 'Samsung', 'Model 3', 'Gold', 62, Decimal('819.61'), 73), (78, 'Apple', 'Model 6', 'Gold', 207, Decimal('407.26'), 72), (80, 'Apple', 'Model 7', 'Silver', 92, Decimal('946.41'), 56), (81, 'Apple', 'Model 4', 'Black', 199, Decimal('548.31'), 62), (82, 'Apple', 'Model 7', 'Gold', 77, Decimal('414.69'), 97), (83, 'Samsung', 'Model 6', 'Gold', 165, Decimal('339.78'), 16), (84, 'Apple', 'Model 10', 'Silver', 114, Decimal('170.72'), 14), (86, 'Apple', 'Model 6', 'White', 105, Decimal('852.05'), 21), (87, 'Google', 'Model 4', 'Black', 146, Decimal('320.22'), 27), (88, 'Samsung', 'Model 9', 'Gold', 186, Decimal('224.46'), 68), (89, 'Google', 'Model 9', 'White', 111, Decimal('535.39'), 29), (91, 'OnePlus', 'Model 2', 'Gold', 145, Decimal('744.36'), 92), (93, 'Apple', 'Model 10', 'Gold', 138, Decimal('990.20'), 87), (94, 'Google', 'Model 9', 'Silver', 197, Decimal('940.04'), 63), (96, 'OnePlus', 'Model 6', 'Silver', 94, Decimal('460.18'), 29), (98, 'OnePlus', 'Model 5', 'Gold', 29, Decimal('480.65'), 78), (102, 'Samsung', 'Model 5', 'Gold', 17, Decimal('224.80'), 11), (103, 'Google', 'Model 7', 'Gold', 21, Decimal('289.56'), 67), (109, 'OnePlus', 'Model 7', 'Black', 107, Decimal('541.99'), 86), (110, 'Apple', 'Model 7', 'Black', 187, Decimal('540.92'), 13), (111, 'Apple', 'Model 9', 'White', 34, Decimal('970.54'), 56), (117, 'Google', 'Model 8', 'White', 170, Decimal('274.19'), 14), (118, 'Apple', 'Model 2', 'Gold', 27, Decimal('628.01'), 78), (126, 'OnePlus', 'Model 3', 'Gold', 205, Decimal('950.92'), 55), (130, 'Samsung', 'Model 3', 'Silver', 167, Decimal('718.31'), 84), (131, 'Google', 'Model 10', 'Silver', 84, Decimal('470.56'), 33), (132, 'Google', 'Model 3', 'Gold', 33, Decimal('117.62'), 85), (135, 'Google', 'Model 2', 'Gold', 167, Decimal('855.82'), 29), (138, 'Samsung', 'Model 3', 'Black', 89, Decimal('517.19'), 84), (144, 'Samsung', 'Model 7', 'Silver', 59, Decimal('703.76'), 26), (145, 'Apple', 'Model 4', 'Silver', 150, Decimal('973.45'), 51), (147, 'Google', 'Model 7', 'Silver', 88, Decimal('384.28'), 75), (149, 'Google', 'Model 6', 'Gold', 146, Decimal('504.84'), 50), (152, 'OnePlus', 'Model 3', 'Black', 46, Decimal('724.02'), 100), (154, 'Google', 'Model 8', 'Gold', 105, Decimal('812.57'), 25), (155, 'Samsung', 'Model 9', 'White', 145, Decimal('293.14'), 12), (158, 'OnePlus', 'Model 7', 'White', 200, Decimal('522.99'), 55), (161, 'Google', 'Model 7', 'Black', 61, Decimal('222.08'), 43), (164, 'Samsung', 'Model 7', 'Gold', 26, Decimal('391.88'), 16), (165, 'OnePlus', 'Model 7', 'Gold', 168, Decimal('137.30'), 79), (168, 'OnePlus', 'Model 9', 'Silver', 99, Decimal('840.41'), 42)]
Answer:No
> Finished chain.

In [66]:
qns6 = db_chain.run("Can you recommend a phone with a high storage capacity for gaming?")

> Entering new SQLDatabaseChain chain...
Can you recommend a phone with a high storage capacity for gaming?
SQLQuery:SELECT model FROM mobiles WHERE storage_capacity >= 128 ORDER BY storage_capacity DESC
SQLResult: [('Model 10',), ('Model 6',), ('Model 3',), ('Model 2',), ('Model 7',), ('Model 3',), ('Model 5',), ('Model 4',), ('Model 9',), ('Model 2',), ('Model 3',), ('Model 6',), ('Model 7',), ('Model 6',), ('Model 7',), ('Model 9',), ('Model 5',), ('Model 7',), ('Model 4',), ('Model 5',), ('Model 4',), ('Model 8',), ('Model 3',), ('Model 8',), ('Model 7',), ('Model 3',), ('Model 2',), ('Model 9',), ('Model 6',), ('Model 5',), ('Model 4',), ('Model 8',), ('Model 4',), ('Model 6',), ('Model 9',), ('Model 2',), ('Model 5',), ('Model 1',), ('Model 3',), ('Model 6',), ('Model 8',), ('Model 10',), ('Model 6',), ('Model 8',)]
Answer:Model 10
> Finished chain.

In [67]:
qns7 = db_chain.run("How many white color model 1 mobiles we have available?")

> Entering new SQLDatabaseChain chain...
How many white color model 1 mobiles we have available?
SQLQuery:SELECT stock_quantity FROM mobiles WHERE model = 'Model 1' AND color = 'White'
SQLResult: [(50,), (46,)]
Answer:50
> Finished chain.

In [68]:
few_shots = [
    {
        'Question': "How many Apple mobiles do we have left for model1 in white color?",
        'SQLQuery': "SELECT stock_quantity FROM mobiles WHERE brand = 'Apple' AND model = 'Model 4' AND color = 'White';",
        'SQLResult': "Result of the SQL query",
        'Answer': "71"
    },
    {
        'Question': "How many Samsung phones do we have in stock of all models?",
        'SQLQuery': "SELECT SUM(stock_quantity) FROM mobiles WHERE brand = 'Samsung';",
        'SQLResult': "Result of the SQL query",
        'Answer': "1183"
    },
    {
        'Question': "Do you have the Sony Xperia 1 II in stock?",
        'SQLQuery': "SELECT COUNT(*) FROM mobiles WHERE model = 'Sony Xperia 1 II';",
        'SQLResult': "Result of the SQL query",
        'Answer': "No"
    },
    {
        'Question': "Can you check if the Google model 1 is available in gold?",
        'SQLQuery': "SELECT color FROM mobiles WHERE model = 'Model 1' AND brand = 'Google' AND color = 'Gold';",
        'SQLResult': "Result of the SQL query",
        'Answer': "Yes"
    },
    {
        'Question': "Are there any eco-friendly or sustainable phone options?",
        'SQLQuery': "SELECT * FROM mobiles",
        'SQLResult': "Result of the SQL query",
        'Answer': "No"
    },
    {
        'Question': "Can you recommend a phone with a high storage capacity for gaming?",
        'SQLQuery': "SELECT model FROM mobiles WHERE storage_capacity > 128 ORDER BY storage_capacity DESC;",
        'SQLResult': "Result of the SQL query",
        'Answer': "Model 10"
    },
    {
        'Question': "How many white color model 1 mobiles we have available?",
        'SQLQuery': "SELECT count(*) FROM mobiles WHERE color = 'White' AND model = 'Model 1';",
        'SQLResult': "Result of the SQL query",
        'Answer': "50"
    }
]

create embedding on the few_shots

In [69]:
from langchain.prompts import SemanticSimilarityExampleSelector
from langchain.embeddings import HuggingFaceEmbeddings
from langchain.vectorstores import Chroma

# Path to the directory containing the downloaded al-minim model
model_path = r"C:\Users\hp\Downloads\all-MiniLM-L6-v2"

# Create HuggingFaceEmbeddings instance with the local model path
embeddings = HuggingFaceEmbeddings(model_name=model_path)

In [70]:
e=embeddings.embed_query("How many Apple mobiles do we have left for model1 in white color?")
len(e)

384

In [71]:
to_vectorize = [" ".join(str(value) for value in example.values()) for example in few_shots]
to_vectorize[0]

"How many Apple mobiles do we have left for model1 in white color? SELECT stock_quantity FROM mobiles WHERE brand = 'Apple' AND model = 'Model 4' AND color = 'White'; Result of the SQL query 71"

In [72]:
to_vectorize

["How many Apple mobiles do we have left for model1 in white color? SELECT stock_quantity FROM mobiles WHERE brand = 'Apple' AND model = 'Model 4' AND color = 'White'; Result of the SQL query 71",
 "How many Samsung phones do we have in stock of all models? SELECT SUM(stock_quantity) FROM mobiles WHERE brand = 'Samsung'; Result of the SQL query 1183",
 "Do you have the Sony Xperia 1 II in stock? SELECT COUNT(*) FROM mobiles WHERE model = 'Sony Xperia 1 II'; Result of the SQL query No",
 "Can you check if the Google model 1 is available in gold? SELECT color FROM mobiles WHERE model = 'Model 1' AND brand = 'Google' AND color = 'Gold'; Result of the SQL query Yes",
 'Are there any eco-friendly or sustainable phone options? SELECT * FROM mobiles Result of the SQL query No',
 'Can you recommend a phone with a high storage capacity for gaming? SELECT model FROM mobiles WHERE storage_capacity > 128 ORDER BY storage_capacity DESC; Result of the SQL query Model 10',
 "How many white color model 1 mobiles we have available? SELECT count(*) FROM mobiles WHERE color = 'White' AND model = 'Model 1'; Result of the SQL query 50"]

In [73]:
pip install faiss-cpu

Requirement already satisfied: faiss-cpu in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (1.7.4)Note: you may need to restart the kernel to use updated packages.

In [74]:
from langchain.vectorstores import FAISS


# Create FAISS vector store from texts
vectorstore = FAISS.from_texts(to_vectorize, embeddings, metadatas=few_shots)

# Example usage: retrieve vectors or perform similarity search
# vectorstore.add_texts(to_vectorize, few_shots)

In [75]:
from langchain.prompts import SemanticSimilarityExampleSelector

example_selector = SemanticSimilarityExampleSelector(
    vectorstore=vectorstore,
    k=2,  # Number of examples to retrieve
)

# Define the query
query = {"Question": "How many Apple mobiles do we have left for model1 in white color"}

# Use the selector to find examples similar to the query
selected_examples = example_selector.select_examples(query)

print(selected_examples)

[{'Question': 'How many Apple mobiles do we have left for model1 in white color?', 'SQLQuery': "SELECT stock_quantity FROM mobiles WHERE brand = 'Apple' AND model = 'Model 4' AND color = 'White';", 'SQLResult': 'Result of the SQL query', 'Answer': '71'}, {'Question': 'How many white color model 1 mobiles we have available?', 'SQLQuery': "SELECT count(*) FROM mobiles WHERE color = 'White' AND model = 'Model 1';", 'SQLResult': 'Result of the SQL query', 'Answer': '50'}]

In [76]:
mysql_prompt = """You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: Query to run with no pre-amble
SQLResult: Result of the SQLQuery
Answer: Final answer here

No pre-amble.
"""

In [77]:
from langchain.prompts import FewShotPromptTemplate
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX, _mysql_prompt

print(PROMPT_SUFFIX)

Only use the following tables:
{table_info}

Question: {input}

In [78]:
from langchain.prompts.prompt import PromptTemplate

example_prompt = PromptTemplate(
    input_variables=["Question", "SQLQuery", "SQLResult","Answer",],
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}",
)

In [79]:
print(_mysql_prompt)

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

In [80]:
few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=example_prompt,
    prefix=_mysql_prompt,
    suffix=PROMPT_SUFFIX,
    input_variables=["input", "table_info", "top_k"], #These variables are used in the prefix and suffix
)

In [81]:
new_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, prompt=few_shot_prompt)

In [82]:
new_chain("How many Apple mobiles do we have left for model1 in white color?")

> Entering new SQLDatabaseChain chain...
How many Apple mobiles do we have left for model1 in white color?
SQLQuery:

SELECT stock_quantity FROM mobiles WHERE brand = 'Apple' AND model = 'Model 4' AND color = 'White';
SQLResult: [(71,)]
Answer:

Retrying langchain.llms.google_palm.generate_with_retry.<locals>._generate_with_retry in 2.0 seconds as it raised InternalServerError: 500 An internal error has occurred. Please retry or report in https://developers.generativeai.google/guide/troubleshooting.

71
> Finished chain.

{'query': 'How many Apple mobiles do we have left for model1 in white color?',
 'result': '71'}

In [89]:
new_chain("How many Samsung phones do we have in stock of all models")

> Entering new SQLDatabaseChain chain...
How many Samsung phones do we have in stock of all models
SQLQuery:SELECT SUM(stock_quantity) FROM mobiles WHERE brand = 'Samsung';
SQLResult: [(1183,)]
Answer:1183
> Finished chain.

{'query': 'How many Samsung phones do we have in stock of all models',
 'result': '1183'}

In [90]:
new_chain("Do you have the Sony Xperia 1 II in stock?")

> Entering new SQLDatabaseChain chain...
Do you have the Sony Xperia 1 II in stock?
SQLQuery:SELECT model FROM mobiles WHERE model = 'Sony Xperia 1 II';
SQLResult:
Answer:No
> Finished chain.

{'query': 'Do you have the Sony Xperia 1 II in stock?', 'result': 'No'}

In [91]:
new_chain("Can you check if the Google model 1 is available in gold?")

> Entering new SQLDatabaseChain chain...
Can you check if the Google model 1 is available in gold?
SQLQuery:SELECT color FROM mobiles WHERE model = 'Model 1' AND brand = 'Google' AND color = 'Gold';
SQLResult: [('Gold',)]
Answer:Yes
> Finished chain.

{'query': 'Can you check if the Google model 1 is available in gold?',
 'result': 'Yes'}

In [92]:
new_chain("Are there any eco-friendly or sustainable phone options?")

> Entering new SQLDatabaseChain chain...
Are there any eco-friendly or sustainable phone options?
SQLQuery:SELECT * FROM mobiles
SQLResult: [(1, 'OnePlus', 'Model 1', 'Gold', 64, Decimal('436.34'), 56), (2, 'Apple', 'Model 4', 'White', 109, Decimal('747.67'), 71), (3, 'Samsung', 'Model 1', 'Gold', 142, Decimal('491.34'), 87), (4, 'Apple', 'Model 3', 'White', 141, Decimal('980.11'), 99), (5, 'Google', 'Model 8', 'Black', 133, Decimal('954.31'), 34), (6, 'Apple', 'Model 5', 'Silver', 145, Decimal('345.29'), 20), (7, 'OnePlus', 'Model 8', 'Silver', 97, Decimal('391.08'), 18), (8, 'Google', 'Model 3', 'Silver', 191, Decimal('642.90'), 22), (9, 'Google', 'Model 2', 'Black', 192, Decimal('974.17'), 89), (10, 'Google', 'Model 1', 'White', 90, Decimal('796.94'), 50), (11, 'Samsung', 'Model 6', 'White', 134, Decimal('229.08'), 54), (12, 'Google', 'Model 2', 'White', 86, Decimal('581.42'), 37), (14, 'OnePlus', 'Model 6', 'Gold', 104, Decimal('449.99'), 34), (15, 'OnePlus', 'Model 1', 'Black', 18, Decimal('989.09'), 80), (16, 'Google', 'Model 1', 'Gold', 93, Decimal('188.43'), 18), (17, 'Samsung', 'Model 5', 'Black', 178, Decimal('277.86'), 73), (18, 'OnePlus', 'Model 7', 'Silver', 185, Decimal('324.45'), 79), (19, 'Google', 'Model 6', 'Black', 139, Decimal('923.58'), 37), (21, 'Samsung', 'Model 10', 'Black', 89, Decimal('746.67'), 30), (22, 'Google', 'Model 9', 'Black', 53, Decimal('527.51'), 90), (23, 'Samsung', 'Model 10', 'Gold', 56, Decimal('157.45'), 20), (24, 'OnePlus', 'Model 4', 'Gold', 174, Decimal('161.84'), 42), (25, 'OnePlus', 'Model 8', 'White', 149, Decimal('632.44'), 19), (26, 'Google', 'Model 10', 'Gold', 25, Decimal('941.73'), 98), (28, 'Apple', 'Model 3', 'Black', 73, Decimal('672.61'), 67), (29, 'Apple', 'Model 5', 'White', 34, Decimal('825.09'), 73), (30, 'Apple', 'Model 8', 'Black', 173, Decimal('209.43'), 43), (31, 'Google', 'Model 2', 'Silver', 118, Decimal('655.31'), 56), (32, 'Apple', 'Model 10', 'White', 207, Decimal('376.63'), 45), (33, 'OnePlus', 'Model 10', 'Gold', 38, Decimal('201.87'), 49), (34, 'Apple', 'Model 3', 'Silver', 58, Decimal('207.67'), 90), (35, 'Apple', 'Model 6', 'Silver', 87, Decimal('721.65'), 94), (36, 'OnePlus', 'Model 5', 'Silver', 53, Decimal('291.52'), 21), (37, 'Google', 'Model 3', 'Black', 173, Decimal('798.11'), 34), (38, 'Samsung', 'Model 7', 'Black', 189, Decimal('369.43'), 28), (39, 'Samsung', 'Model 4', 'White', 180, Decimal('470.76'), 19), (41, 'Apple', 'Model 9', 'Gold', 27, Decimal('896.07'), 78), (42, 'Samsung', 'Model 4', 'Silver', 29, Decimal('205.17'), 49), (44, 'OnePlus', 'Model 1', 'White', 28, Decimal('697.27'), 46), (45, 'OnePlus', 'Model 6', 'White', 191, Decimal('630.24'), 47), (47, 'Google', 'Model 5', 'Black', 185, Decimal('906.06'), 95), (48, 'Samsung', 'Model 2', 'Silver', 201, Decimal('959.81'), 42), (49, 'Apple', 'Model 2', 'White', 71, Decimal('606.34'), 94), (50, 'Apple', 'Model 4', 'Gold', 83, Decimal('543.52'), 81), (51, 'Apple', 'Model 5', 'Black', 53, Decimal('846.42'), 69), (55, 'OnePlus', 'Model 3', 'Silver', 33, Decimal('985.02'), 34), (57, 'OnePlus', 'Model 10', 'Black', 20, Decimal('609.46'), 73), (59, 'Samsung', 'Model 9', 'Black', 166, Decimal('415.27'), 86), (61, 'Apple', 'Model 8', 'Silver', 139, Decimal('293.70'), 64), (62, 'Samsung', 'Model 3', 'White', 199, Decimal('483.36'), 41), (64, 'OnePlus', 'Model 5', 'Black', 125, Decimal('872.56'), 17), (65, 'Samsung', 'Model 10', 'Silver', 82, Decimal('782.94'), 93), (66, 'Apple', 'Model 5', 'Gold', 163, Decimal('183.78'), 78), (67, 'Samsung', 'Model 2', 'Black', 82, Decimal('909.31'), 96), (69, 'OnePlus', 'Model 8', 'Gold', 82, Decimal('984.31'), 28), (71, 'OnePlus', 'Model 9', 'White', 87, Decimal('218.81'), 50), (73, 'OnePlus', 'Model 5', 'White', 199, Decimal('899.97'), 34), (74, 'Samsung', 'Model 8', 'Gold', 61, Decimal('692.29'), 75), (75, 'Google', 'Model 6', 'White', 188, Decimal('715.61'), 81), (77, 'Samsung', 'Model 3', 'Gold', 62, Decimal('819.61'), 73), (78, 'Apple', 'Model 6', 'Gold', 207, Decimal('407.26'), 72), (80, 'Apple', 'Model 7', 'Silver', 92, Decimal('946.41'), 56), (81, 'Apple', 'Model 4', 'Black', 199, Decimal('548.31'), 62), (82, 'Apple', 'Model 7', 'Gold', 77, Decimal('414.69'), 97), (83, 'Samsung', 'Model 6', 'Gold', 165, Decimal('339.78'), 16), (84, 'Apple', 'Model 10', 'Silver', 114, Decimal('170.72'), 14), (86, 'Apple', 'Model 6', 'White', 105, Decimal('852.05'), 21), (87, 'Google', 'Model 4', 'Black', 146, Decimal('320.22'), 27), (88, 'Samsung', 'Model 9', 'Gold', 186, Decimal('224.46'), 68), (89, 'Google', 'Model 9', 'White', 111, Decimal('535.39'), 29), (91, 'OnePlus', 'Model 2', 'Gold', 145, Decimal('744.36'), 92), (93, 'Apple', 'Model 10', 'Gold', 138, Decimal('990.20'), 87), (94, 'Google', 'Model 9', 'Silver', 197, Decimal('940.04'), 63), (96, 'OnePlus', 'Model 6', 'Silver', 94, Decimal('460.18'), 29), (98, 'OnePlus', 'Model 5', 'Gold', 29, Decimal('480.65'), 78), (102, 'Samsung', 'Model 5', 'Gold', 17, Decimal('224.80'), 11), (103, 'Google', 'Model 7', 'Gold', 21, Decimal('289.56'), 67), (109, 'OnePlus', 'Model 7', 'Black', 107, Decimal('541.99'), 86), (110, 'Apple', 'Model 7', 'Black', 187, Decimal('540.92'), 13), (111, 'Apple', 'Model 9', 'White', 34, Decimal('970.54'), 56), (117, 'Google', 'Model 8', 'White', 170, Decimal('274.19'), 14), (118, 'Apple', 'Model 2', 'Gold', 27, Decimal('628.01'), 78), (126, 'OnePlus', 'Model 3', 'Gold', 205, Decimal('950.92'), 55), (130, 'Samsung', 'Model 3', 'Silver', 167, Decimal('718.31'), 84), (131, 'Google', 'Model 10', 'Silver', 84, Decimal('470.56'), 33), (132, 'Google', 'Model 3', 'Gold', 33, Decimal('117.62'), 85), (135, 'Google', 'Model 2', 'Gold', 167, Decimal('855.82'), 29), (138, 'Samsung', 'Model 3', 'Black', 89, Decimal('517.19'), 84), (144, 'Samsung', 'Model 7', 'Silver', 59, Decimal('703.76'), 26), (145, 'Apple', 'Model 4', 'Silver', 150, Decimal('973.45'), 51), (147, 'Google', 'Model 7', 'Silver', 88, Decimal('384.28'), 75), (149, 'Google', 'Model 6', 'Gold', 146, Decimal('504.84'), 50), (152, 'OnePlus', 'Model 3', 'Black', 46, Decimal('724.02'), 100), (154, 'Google', 'Model 8', 'Gold', 105, Decimal('812.57'), 25), (155, 'Samsung', 'Model 9', 'White', 145, Decimal('293.14'), 12), (158, 'OnePlus', 'Model 7', 'White', 200, Decimal('522.99'), 55), (161, 'Google', 'Model 7', 'Black', 61, Decimal('222.08'), 43), (164, 'Samsung', 'Model 7', 'Gold', 26, Decimal('391.88'), 16), (165, 'OnePlus', 'Model 7', 'Gold', 168, Decimal('137.30'), 79), (168, 'OnePlus', 'Model 9', 'Silver', 99, Decimal('840.41'), 42)]
Answer:No
> Finished chain.

{'query': 'Are there any eco-friendly or sustainable phone options?',
 'result': 'No'}

In [93]:
new_chain("Can you recommend a phone with a high storage capacity for gaming?")

> Entering new SQLDatabaseChain chain...
Can you recommend a phone with a high storage capacity for gaming?
SQLQuery:SELECT model FROM mobiles WHERE storage_capacity > 128 ORDER BY storage_capacity DESC;
SQLResult: [('Model 10',), ('Model 6',), ('Model 3',), ('Model 2',), ('Model 7',), ('Model 3',), ('Model 5',), ('Model 4',), ('Model 9',), ('Model 2',), ('Model 3',), ('Model 6',), ('Model 7',), ('Model 6',), ('Model 7',), ('Model 9',), ('Model 5',), ('Model 7',), ('Model 4',), ('Model 5',), ('Model 4',), ('Model 8',), ('Model 3',), ('Model 8',), ('Model 7',), ('Model 3',), ('Model 2',), ('Model 9',), ('Model 6',), ('Model 5',), ('Model 4',), ('Model 8',), ('Model 4',), ('Model 6',), ('Model 9',), ('Model 2',), ('Model 5',), ('Model 1',), ('Model 3',), ('Model 6',), ('Model 8',), ('Model 10',), ('Model 6',), ('Model 8',)]
Answer:Model 10
> Finished chain.

{'query': 'Can you recommend a phone with a high storage capacity for gaming?',
 'result': 'Model 10'}

In [94]:
new_chain("How many white color model 1 mobiles we have available?")

> Entering new SQLDatabaseChain chain...
How many white color model 1 mobiles we have available?
SQLQuery:SELECT count(*) FROM mobiles WHERE color = 'White' AND model = 'Model 1';
SQLResult: [(2,)]
Answer:2
> Finished chain.

{'query': 'How many white color model 1 mobiles we have available?',
 'result': '2'}